{% extends 'layout/layout.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    <h1>Edit Profile</h1>

    {{ include('profile/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-light" href="{{ path('profile') }}"><i class="fad fa-chevron-left"></i> back to list</a>
{% endblock %}
