{% extends 'layout/layout.html.twig' %}

{% block title %}Register - {{ parent() }}{% endblock %}

{% block body %}
<section class="row">
    {#  #}
    {{ include('layout/message.html.twig') }}
    <article class="col-xl-6 col-md-12">
        {{ include('registration/register.html.twig') }}
    </article>
    <article class="col-xl-6 col-md-12">
        <header>
            <h1 class="h3 mb-3 font-weight-normal">Pourquoi s'inscrire ?</h1>
        </header>
        <p>
            Devenir membre sur <strong>I'm an Archer</strong>, c'est accéder à du contenu exclusif pour apprendre et s'améliorer dans le domaine de l'archerie.
            Vous pourrez voire toutes les compétitions qui auront lieux en Belgique ainsi que d'avoir un récapitulatif de vos résultats
        </p>
        <p>
            La création d'un compte est totalement <strong>gratuite</strong>.
        </p>
    </article>
</section>
{% endblock %}