{# templates/registration/register.html.twig #}

{{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn btn-lg btn-primary">{{ 'registration.submit'|trans }}</button>
{{ form_end(form) }}