{% extends 'base.html.twig' %}

{% block title %}Hello CoreController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>Ce qui devrait arriver prochainement</h2>
    <ul>
        <li>✅ Ajouter les membres dans les clubs</li>
        <li>✅ Pouvoir ajouter un nouveau membre dans un club</li>
        <li>✅ Pouvoir transferer un membre d'un club à un autre</li>
        <li>Pouvoir retirer à membre</li>
        <li>✅ Ajouter FontAwesome</li>
        <li>Ajouter un agenda des compétitions</li>
    </ul>
</div>
{% endblock %}
