{% extends 'base.html.twig' %}

{% block title %}I'm an Archer!{% endblock %}

{% block body_content %}
<section class="jumbotron text-center">
    <i class="fad fa-bullseye-arrow fa-10x"></i>
</section>

<section class="container-xl">
    <div class="row">
        {{ include('layout/message.html.twig') }}

        <section class="col-xl-8 col-md-12">    
        {{ render(controller('App\\Controller\\BlogPostController::lastNews', {'max' : 5})) }}
        </section>

        <aside class="col">
            {{ render(controller('App\\Controller\\TournamentController::agenda', {'max' : 2})) }}
        </aside>
    </div>
</section>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
document.addEventListener("DOMContentLoaded",  () => {
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach(row => {
        row.addEventListener("click", () => {
            window.location.href = row.dataset.href;
        })
    })
})
</script>
{% endblock %}
