{% extends 'base.html.twig' %}

{% block title %}I'm an Archer!{% endblock %}

{% block body_content %}
<section class="jumbotron text-center">
    <i class="fad fa-bullseye-arrow fa-10x"></i>
    <div class="container-xl">
        <h1>I'm an Archer</h1>
        <p class="lead text-muted">Ce site est encore en phase de développement, la suite arrive bientôt <i class="fad fa-smile-wink fa-2x"></i></i></p>
    </div>
</section>
{% endblock %}
