// assets/css/global.scss

// customize some Bootstrap variables


$primary: darken(#428bca, 20%);

:root {
    --color: #121C42;
}

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/duotone';
@import '~@fortawesome/fontawesome-pro/scss/light';

@import 'tools/typography.scss';


// Font face
// ==================

body {
    font-family: $font;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color);
}

.navbar-nav {
    font-family: $font-alt;
    font-size: 18px;
}

.navbar-brand {
    font-family: $font-alt;
}