{# Faire appel à une fenêtre modal pour prévenir que tout les pelotons et les participants à la compétition seront également retiré de la compétition supprimer #}
{# 
    La suppression doit être le dernier recours. Il faut également prévoir de pouvoir l'annulée
    Ceci aura comme différence de prévenir tous les archers de l'annulation de l'évènement
#}

<form method="post" action="{{ path('tournament_delete', {'id': tournament.id, 'slug': tournament.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-' ~ tournament.id) }}">
    <button class="btn btn-danger"><i class="fad fa-trash-alt"></i> {% trans %}form.tournament.delete{% endtrans %}</button>
</form>
