{% extends 'layout/layout.html.twig' %}

{% block title %}Les compétitions | {{ parent()}}{% endblock %}

{% block body_title %}
<section class="jumbotron">
    <header class="col">
        <h1 class="title"><span class="fa-stack fa-1x">        
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fad fa-calendar-alt fa-stack-1x fa-inverse"></i>
        </span> Agenda des compétitions</h1>
    </header>
</section>
{% endblock %}

{% block body %}
<section class="row">
    <article class="col-xl-6 col-md-12">
        <header class="col">
            <h4>Agenda</h4>
        </header>
        {{ include('tournament/_agenda.html.twig') }}
        <div class="navigation">
            {{ knp_pagination_render(tournaments) }}
        </div>
    </article>   

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('tournament_new') }}">Create new</a>
{% endif %} 
</section>
{% endblock %}
