{% extends 'layout/layout.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body_title %}
<section class="jumbotron">
    <header class="container-xl">
        <h1 class="title"><span class="fa-stack fa-1x">        
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fad fa-file-signature fa-stack-1x fa-inverse"></i>
        </span> Blog</h1>
    </header>
</section>
{% endblock %}

{% block body %}
<div class="container-xl">
    <section>
        {{ render(controller('App\\Controller\\BlogPostController::lastNews', {'max' : 10})) }}
    </section>
</div>
{% endblock %}
