{% extends 'layout/layout.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body_title %}
<section class="jumbotron">
    <header class="container-xl">
        <h1 class="title"><span class="fa-stack fa-1x">        
        <i class="fas fa-square fa-stack-2x"></i>
        <i class="fad fa-file-signature fa-stack-1x fa-inverse"></i>
        </span> {{ post.title }}</h1>
    </header>
</section>
{% endblock %}

{% block body %}
<div class="row">
    <section class="col">
        <article class="card">
            <div class="card-body">
                <p>
                {% apply markdown_to_html %}
                    {{ post.body }}
                {% endapply %}
                </p>
            </div>
            <div class="card-footer text-muted">
                publié le {{  post.publishedOn ? post.publishedOn | date('d-m-Y H:i') : '' }}
            </div>
        </article>   
    </section>
</div>

{% endblock %}
