<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Belgian Archery{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet"> 
        {{ encore_entry_link_tags('app') }}        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include('layout/nav.html.twig') %}

        <main>
            {% block body_content %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
