{% extends 'layout/layout.html.twig' %}

{% block title %}New Peloton{% endblock %}

{% block body %}
    <h1>{% trans %}peloton.add{% endtrans %}</h1>

    {{ include('peloton/_form.html.twig') }}

    <a href="{{ path('tournament_show', {'id': tournament.id, 'slug': tournament.slug}) }}" class="btn btn-light"><i class="fad fa-chevron-left"></i> {% trans %}common.back_list{% endtrans %}</a>
{% endblock %}
