{% extends 'base.html.twig' %}

{% block body_content %}
<div class="container-xl">  
    {% block body_title %}
    {% endblock %}
</div>

<div class="container-xl">    
    {% block body %}
    {% endblock %}
</div>
{% endblock %}